/* Importação das fontes */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Variáveis de cores e estilos globais */
:root {
      --white: #ffffff;
      --primary: #dfceaa;
      --secondary: #974600;
      --secondary-dark: #593c00;
}

/* Reset padrão */
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

/* Estilos do corpo da página */
body {
      font-family: 'Montserrat', sans-serif;
      background-color: var(--primary);
      color: var(--secondary);
      overflow-x: hidden;
      margin: 0;
      padding: 0;
}

.spinner-container {
      position: relative;
      width: 100%;
      height: 100%;
  }
  
  .spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 4px solid rgba(0, 0, 0, 0.1);
      border-top: 4px solid #974600;
      border-radius: 50%;
      width: 40px;
      height: 40px;
      animation: spin 1s linear infinite;
      z-index: 999;
  }
  
  @keyframes spin {
      0% { transform: translate(-50%, -50%) rotate(0deg); }
      100% { transform: translate(-50%, -50%) rotate(360deg); }
  }

/* Container principal */
.container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      min-height: 100vh;
      position: relative;
}

/* Efeito de círculos ao fundo */
.circles {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: radial-gradient(circle, #eb8b1637 10%, rgba(255, 255, 255, 0) 70%);
      pointer-events: none;
}

/* Cabeçalho */
.header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 10vw;
      box-sizing: border-box;
      margin-top: 4vh;
}

.img-header {
      width: 14vw;
      height: auto;
      object-fit: cover;
      object-position: center;
      max-height: 14vh;
}

/* Seção de mockup */
.mockup-section {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto 0;
      width: 100%;
      background-color: var(--primary);
}

/* Texto à direita na seção de mockup */
.text {
      margin: auto 0;
      text-align: end;
      padding-right: 5vw;
      z-index: 5;
}

.title {
      font-size: 1.8vw;
      font-weight: 800;
      margin: auto auto auto 10vw;
}

.secondary-title {
      font-size: .9vw;
      font-weight: 600;
      margin: 0.5vw auto auto 10vw;
      line-height: 1.9;
}

.button-div {
      display: flex;
}

.button {
      width: 100%;
      max-width: 400px;
      height: 3vw;
      font-family: 'Raleway', sans-serif;
      font-size: 1vw;
      font-weight: 700;
      line-height: normal;
      border: none;
      border-radius: 4px;
      color: var(--white);
      background-color: var(--secondary);
      margin: 2vh 0 2vh auto;
      cursor: pointer;
      z-index: 5;
}

/* Seção de mídias sociais */
.media-div {
      display: flex;
      justify-content: start;
      margin: 1rem 0 1rem 10vw;
}

.icons {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 0.5rem;
}

.social-text {
      color: var(--secondary);
      font-size: 0.9vw;
      font-weight: 600;
      margin-bottom: 0.5rem;
}

.link {
      color: var(--secondary);
      text-decoration: none;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      font-size: 0.85vw;
}

.link:hover {
      color: var(--secondary-dark);
}

.icon {
      font-size: 0.85vw;
}

.mockup {
      width: 40vw;
      height: auto;
      z-index: 5;
}

/* Media queries */
@media screen and (max-width: 768px) {
      .img-header {
            width: 12rem;
            height: 8rem;
      }

      .mockup-section {
            flex-direction: column;
      }

      .text {
            margin: auto 10vw;
            text-align: center;
      }

      .title {
            text-align: start;
            margin: 0;
            font-size: 1.5rem;
      }

      .secondary-title {
            text-align: start;
            margin: 10px 0;
            font-size: 0.8rem;
      }

      .button {
            width: 16rem;
            height: 2.5rem;
            font-size: 0.8rem;
      }

      .media-div {
            display: none;
      }
}

@media screen and (max-width: 428px) {
      .img-header {
            display: none;
            height: 0;
      }

      .title {
            text-align: center;
            font-size: 1.5rem;
            margin: 0;
      }

      .secondary-title {
            text-align: center;
            font-size: 0.8rem;
            margin: 10px 0;
      }

      .mockup {
            width: 100vw;
            margin-top: 2rem;
            margin-bottom: 2rem;
      }

      .text {
            padding-right: 0px;
      }

      .button {
            width: 100%;
      }
}